# dependencies
node_modules

# next.js
.next
out

# production
dist
build

# env files
.env
.env.local

# logs
npm-debug.log*

# mac
.DS_Store

# vscode
.vscode

# turbo
.turbo

.github/copilot-instructions.md

backend/tmp
backend/uploads

backend/src/seeds/seedUser.ts